.ui-datepicker-trigger {
    width: 5vw;
    margin-left: 2%;
}

.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: rgb(13, 107, 52) !important;
}
.dtp div.dtp-date,
.dtp div.dtp-time {
    background: rgb(18, 146, 71) !important;
}

#writeTask {
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 5vw;
    padding: 1px 6px;
    display: block;
    width: 90%;
    min-height: 90px;
    line-height: 40px;
    resize: none;
    overflow: hidden;
    min-height: 40px;
    /* max-height: 100px; */
}

.form-control {
    width: 20vw;
    background-color: rgb(193, 250, 215);
    border: 1px solid rgb(13, 107, 52);
}

#inputContainer {
    display: grid;
    grid-template-rows: auto 5% auto 5% auto 5%;
    grid-template-columns: 50% 50%;
    width: 100%;
}

#userInput {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
    /* align-self: center;
    justify-self: center; */
    margin-left: 10%;
}
#addDate {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    /* align-self: center;
    justify-self: center; */
    margin-right: 3%;
    margin-left: auto;
}

#addTime {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    /* align-self: center;
    justify-self: center; */
    margin-left: 3%;
}

#submitToDo {
    grid-row: 5 / span 1;
    grid-column: 1 / span 2;
    align-self: center;
    justify-self: center;
}
.form-control {
    line-height: 2;
    font-size: 4vw;
    border-radius: 2vw;
}

.ui-widget {
    font-size: 3.5vw !important;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 3vw !important;
}
button,
input,
optgroup,
select,
textarea {
    line-height: 10px;
}
.dtp > .dtp-content {
    max-width: 80% !important;
    max-height: 80% !important;
    left: 50% !important;
}

.btn {
    font-size: 3vw;
}

#listContainer {
    padding-top: 10%;
    margin-left: 0;
    margin-right: 0;
}

.todoContainer {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto 5% auto 5% auto 5%;
    margin-left: auto;
    margin-right: auto;
    border: 0.1vw solid rgb(13, 107, 52);
    background-color: rgb(214, 250, 228);
    border-radius: 2vw;
    margin-bottom: 0.5vw;
    padding: 1vw;
    overflow: hidden;
    word-wrap: break-word;
}

.readToDo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    font-size: 5vw;
    overflow: hidden;
    word-wrap: break-word;
}

.complete {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: center;
}
#doneAll {
    font-size: 5vw;
    color: black;
}
#delete {
    font-size: 5vw;
    color: black;
}
.remove {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    align-self: center;
    justify-self: center;
}

.undoStrike {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    align-self: center;
    justify-self: center;
}
#undo {
    font-size: 5vw;
    color: black;
}

.readDate {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    font-size: 4vw;
}

.readTime {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
    margin-right: 0;
    margin-left: auto;
    font-size: 4vw;
}

#footerPlaceholder {
    padding-top: 10%;
}
